<!DOCTYPE html>
<html>
  <head>
    <title>RailsLongestWordGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
    .flex-container {display: flex}
    .flex-container > div {
      background-color: blue;
      color: white;
      padding: 20px;
      margin: 10px;
      font-size: 30px;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
